---
import App from "../components/App";
import "../styles/global.css";

const title = "L.A. Labs | Software Innovation Studio";
const description =
    "Scale without software friction. Grow your organization without operational headaches with L.A. Labs.";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <!-- Render the full React App for the English locale -->
        <App lang="en" client:load />
    </body>
</html>
