---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Service">
    <div class="max-w-4xl mx-auto px-6 py-32">
        <h1 class="text-4xl font-bold tracking-tight text-white mb-8">
            Terms of Service
        </h1>

        <div class="prose prose-invert prose-slate lg:prose-lg">
            <p><strong>Effective Date:</strong> January 2024</p>

            <p>
                By using L.A. Labs platforms, you agree to use our services for
                lawful purposes. Subscription fees are non-refundable after the
                service has been accessed, as per our Merchant of Record
                policies.
            </p>

            <h2>Use of Service</h2>
            <p>
                You must not misuse our services or interfaces. L.A. Labs
                provides high performance Edge applications and relies on fair
                use for all its tenants.
            </p>

            <h2>Contact</h2>
            <p>
                For further clarification on our Terms of Service, contact us at
                <a
                    href="mailto:ludevgarcialouis@gmail.com"
                    class="text-sky-400 hover:text-sky-300"
                    >ludevgarcialouis@gmail.com</a
                >.
            </p>
        </div>
    </div>
</Layout>
